<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myproyect.gestornovelasnjr">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Gestor de Novelas"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

        <!-- Actividad principal, lanzada desde el launcher -->
        <activity
            android:name=".gestor_novelas.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad de configuración interna de la app -->
        <activity
            android:name=".gestor_novelas.SettingActivity"
            android:exported="false">
        </activity>

        <!-- Actividad para agregar novelas, interna a la app -->
        <activity
            android:name=".gestor_novelas.DB.AddNovelActivity"
            android:exported="false">
        </activity>

        <!-- Receptor de conectividad, exportado para recibir eventos del sistema -->
        <receiver
            android:name=".gestor_novelas.Sync.ConnectivityReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Receptor para alarmas de sincronización, no exportado -->
        <receiver
            android:name=".gestor_novelas.Sync.SyncAlarmReceiver"
            android:exported="false" />

        <!-- Receptor de datos de sincronización, no exportado -->
        <receiver
            android:name=".gestor_novelas.Sync.SyncDataReceiver"
            android:exported="false"/>

    </application>

</manifest>
